body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
}


.container {
    width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


h2 {
    text-align: center;
    color: #003366;
}


table {
    width: 100%;
}


input, textarea, select {
    width: 100%;
    padding: 6px;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="radio"] {
    width: auto;
}


.btn {
    text-align: center;
    margin-top: 10px;
}

input[type="submit"], input[type="reset"] {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #004c99;
}